doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/chart.js")
    script(src="/index.js" type="module")
  body
    block content
